src/main/xsd/ODSBaseModelSpecSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--
ASAM ODS V6.1.0

(c) by ASAM e.V., 2019

XML Schema for the XML representation of the ODS base model 

Any use is limited to the scope described in the ASAM license terms. 
This file is distributable in accordance with the ASAM license terms. 
See www.asam.net/license.html for further details.
-->
  <xsd:element name="ODS_base_model">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="version" type="xsd:string" />
        <xsd:element name="model">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="enumeration">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element maxOccurs="unbounded" name="item">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="name" type="xsd:string" />
                          <xsd:element name="value" type="xsd:unsignedInt" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="element">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="bid" type="xsd:unsignedInt" />
                    <xsd:element name="derivation" type="derivation_enum" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="basetype" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="attribute">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="name" type="xsd:string" />
                          <xsd:element name="datatype" type="attrTypes_enum" />
                          <xsd:element minOccurs="0" name="enumeration_type" type="xsd:string" />
                          <xsd:element name="mandatory" type="xsd:boolean" />
                          <xsd:element name="obligatory" type="xsd:boolean" />
                          <xsd:element name="autogenerated" type="xsd:boolean" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="relation">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="name" type="xsd:string" />
                          <xsd:element name="ref_to">
                            <xsd:simpleType>
                              <xsd:list itemType="xsd:string" />
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="relationship" type="relationship_enum" />
                          <xsd:element name="mandatory" type="xsd:boolean" />
                          <xsd:element name="min_occurs" type="min_enum" />
                          <xsd:element name="max_occurs" type="max_enum" />
                          <xsd:element name="inverse_name" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="uniqueness">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="name" type="xsd:string" />
                          <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="derivation_enum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SINGLE" />
      <xsd:enumeration value="UNRESTRICTED" />
      <xsd:enumeration value="TREE_AT_INSTANCE" />
      <xsd:enumeration value="TREE_AT_MODEL" />
      <xsd:enumeration value="NONE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="attrTypes_enum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DT_UNKNOWN" />
      <xsd:enumeration value="DT_STRING" />
      <xsd:enumeration value="DT_SHORT" />
      <xsd:enumeration value="DT_FLOAT" />
      <xsd:enumeration value="DT_BOOLEAN" />
      <xsd:enumeration value="DT_BYTE" />
      <xsd:enumeration value="DT_LONG" />
      <xsd:enumeration value="DT_DOUBLE" />
      <xsd:enumeration value="DT_LONGLONG" />
      <xsd:enumeration value="DT_DATE" />
      <xsd:enumeration value="DT_BYTESTR" />
      <xsd:enumeration value="DT_BLOB" />
      <xsd:enumeration value="DT_COMPLEX" />
      <xsd:enumeration value="DT_DCOMPLEX" />
      <xsd:enumeration value="DS_STRING" />
      <xsd:enumeration value="DS_SHORT" />
      <xsd:enumeration value="DS_FLOAT" />
      <xsd:enumeration value="DS_BOOLEAN" />
      <xsd:enumeration value="DS_BYTE" />
      <xsd:enumeration value="DS_LONG" />
      <xsd:enumeration value="DS_DOUBLE" />
      <xsd:enumeration value="DS_LONGLONG" />
      <xsd:enumeration value="DS_COMPLEX" />
      <xsd:enumeration value="DS_DCOMPLEX" />
      <xsd:enumeration value="DS_DATE" />
      <xsd:enumeration value="DS_BYTESTR" />
      <xsd:enumeration value="DT_EXTERNALREFERENCE" />
      <xsd:enumeration value="DS_EXTERNALREFERENCE" />
      <xsd:enumeration value="DT_ENUM" />
      <xsd:enumeration value="DS_ENUM" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="relationship_enum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FATHER" />
      <xsd:enumeration value="CHILD" />
      <xsd:enumeration value="INFO_TO" />
      <xsd:enumeration value="INFO_FROM" />
      <xsd:enumeration value="INFO_REL" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="min_enum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="max_enum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="Many" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>